{% extends 'main/layout/base.html' %}
{% load static %}

{% block scripts %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=1ea30393-8f41-42f4-8722-d5daa7853b81&lang=ru_RU"></script>
<script src="{% static 'main/js/map.js' %}" type="text/javascript"></script>
{% endblock scripts %}

{% block content %}
<div class="container mt-5">
  <form>
    <div class="form-group">
      <label for="inputAddress">Место</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Введите место">
    </div>
    <div id="map" style="width: 500px; height: 300px"></div>
    <div class="form-group">
      <label for="inputComment">Воспоминание</label>
      <textarea class="form-control" id="inputComment" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
  </form>
</div>
{% endblock content %}