{% extends 'main/layout/base.html' %}
{% load static %}
{% load socialaccount %}


{% block content %}
  {% if user.is_authenticated %}
  <section class="container py-5 text-center">
    {% if memories %}
    <div class="text-center">
      <a href="{% url 'main:add_memory' %}" class="btn btn-primary btn-lg mb-4">Add memory</a>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Place</th>
            <th scope="col">Memory</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for memory in memories %}
          <tr>
            <td>{{ memory.place }}</td>
            <td>{{ memory.memory }}</td>
            <td>
              <a href="{% url 'main:edit_memory' memory.pk %}" class="btn btn-secondary me-2">Edit</a>
              <a href="{% url 'main:delete_memory' memory.pk %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if page.has_other_pages %}
      <div class="d-flex align-items-center justify-content-center">
        {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}"><img src="{% static 'main/img/previous.png' %}" style="max-width: 20px;"></a>
        {% endif %}
        <p class="text-normal my-auto fs-5 mx-3">{{ page.number }} of {{ page.paginator.num_pages }}</p>
        {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}"><img src="{% static 'main/img/next.png' %}" style="max-width: 20px;"></a>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% else %}
    <h2 class="fw-normal">You don't have any memories</h2>
    <a href="{% url 'main:add_memory' %}" class="btn btn-primary btn-lg my-4">Add a memory</a>
    {% endif %}
  </section>
  {% else %}
  <div class="container py-5 text-center">
    <h1>Places Remember</h1>
    <p class="lead">Welcome! Thanks to this site you can leave a memory of the places you visited.</p>
    <p class="lead">First, log in to one of the social networks below:</p>
    <div class="d-grid gap-2 col-md-6 mx-auto">
      <a href="{% provider_login_url 'google' %}" class="btn btn-primary btn-lg">Google</a>
      <a href="{% provider_login_url 'vk' %}" class="btn btn-danger btn-lg">VK</a>
    </div>
  </div>
  {% endif %}
{% endblock content %}