<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Название сервиса</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container py-5 text-center">
    <h1>Название сервиса</h1>
    <p class="lead">Краткое описание сервиса</p>
    <div class="d-grid gap-2 col-md-6 mx-auto">
      <a href="#" class="btn btn-primary btn-lg">Войти с помощью Google</a>
      <a href="#" class="btn btn-danger btn-lg">Войти с помощью VK</a>
    </div>
  </div>
</body>
</html>